* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.full_login {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #8cbacf;
    gap: 10px;
}

.login_block {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #8cbacf;
    gap: 10px;
}

.left_side_block {
    width: 40%;
}

.login_block img{
    width: 70%;
}


.login_register {
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}


.log_sign_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3578AF;
    width: 50%;
    border-radius: 20px;
}

.pages_login_signUp {
    font-size: 22px;
    font-family: Arial;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.pages_login_btn {
    width: 57%;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #3578AF;
    background-color: #ffffff;
    font-family: Arial;
    border-radius: 19px;
}

.full_login_input_group {
    width: 40%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login_name_inp_section,
.login_password_inp_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login_inp_description {
    color: white;
    font-family: Arial;
}

.login_page_input {
    width: 70%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-size: 20px;
}

.loginSubmit {
    width: 70%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #3578AF;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}

.login_title {
    color: white;
}

.login_pages_forgot {
    font-size: 18px;
    cursor: pointer;
    color: white;
}


.login_social_section {
    width: 100%;
    display: flex;
    align-items: center;

}

.login_pages_social_title {
    font-size: 22px;
}

.login_pages_line {
    width: 45%;
    height: 0px;
    border: 1px solid black;
}

.social_section {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.instagram_block,
.facebook_block,
.google_block,
.number_block {
    width: 60px;
    height: 60px;
    background-color: saddlebrown;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3578AF;
    cursor: pointer;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    
}

.instIcon,
.fbIcon,
.googleIcon,
.numberIcon {
    color: #FFFFFF;
    font-size: 40px;

}

.loading_section {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8cbacf;
    gap: 15px;
}
.loading_title{
    font-family: Arial;
    color: white;
    
}

@media screen and (max-width:1106px){
    .full_login_input_group{
        width: 60%;
    }
}


@media screen and (max-width:877px) {
    .full_login_input_group {
        width: 80%;
    }

    .login_inp_description {
        font-size: 18px;
    }
    .login_page_input,.loginSubmit{
        width: 60%;
    }
}

@media screen and (max-width:612px) {
    .login_page_input,.loginSubmit {
        width: 80%;
        font-size: 15px;
    }
}

@media screen and (max-width:412px) {
    .full_login_input_group {
        width: 100%;
    }

    .login_inp_description {
        font-size: 16px;
    }
}