*{
    padding: 0;
    margin: 0;
}

.Pages_register_parent{
    width: 100%;
    height: 720px;
    background-image: url("../../assets/registerPage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    
}
.form_register_section{
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    
}
.registraton_name_inp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.Name_title{
    font-size: 22px;
}

.Name_register{
    width: 60%;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 20px;
}


.Registration_Link{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}

.Next_Register{
    width: 50%;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    border: none;
    outline: none;
    background-color: #9CC3D5;
    color: white;
    font-size: 22px;
    cursor: pointer;
}


.Register_sign{
    font-size: 35px;
    font-family: Arial;
}

.register_footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.regLogin{
    font-size: 28px;
    outline: none;
}

.facebook_registration_block{
    width: 50%;
    height: 50px;
    background-color: #5B84B1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 5px;
}

.instagem_registration_block{
    width: 50%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(275.92deg, rgba(249, 237, 50, 0.2) 1.16%, rgba(249, 237, 50, 0.2) 24.68%, rgba(249, 237, 50, 0.098) 44.01%), linear-gradient(98.43deg, rgba(0, 42, 255, 0.46) 8.7%, rgba(0, 42, 255, 0.1886) 22.68%, rgba(237, 228, 88, 0) 36.29%), linear-gradient(275.43deg, rgba(249, 237, 50, 0.54) 12.61%, rgba(249, 237, 50, 0.3726) 19.79%, rgba(249, 237, 50, 0.1728) 22.02%, rgba(249, 237, 50, 0.185604) 24.2%, rgba(249, 237, 50, 0.1566) 24.2%), linear-gradient(94.2deg, rgba(255, 15, 114, 0.7) 61.21%, rgba(238, 42, 123, 0.591667) 72.25%, rgba(238, 42, 123, 0.371) 78.82%, rgba(238, 42, 123, 0.366667) 78.82%, rgba(238, 42, 123, 0) 103.9%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    gap: 5px;
}


@media screen and (max-width: 1123px){
    .Name_register{
        width: 70%;
    }
    .form_register_section{
        width: 80%;
    }
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register {
        width: 60%;
    }
    
}
@media screen and (max-width:881px){
    .Name_register{
        width: 80%;
    }
    .form_register_section{
        width: 80%;
    }
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register{
        width: 60%;
    }
}


@media screen and (max-width:819px){
    .Name_register{
        width: 90%;
    }
    .form_register_section{
        width: 80%;
    }
 
}

@media screen and (max-width:790px){
    .Name_register{
        width: 95%;
    }
    .form_register_section{
        width: 80%;
    }
   
}


@media screen and (max-width:768px){
    .Pages_register_parent{
        background-image: url('../..//assets/registerPagrTablet.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width:654px){
    .Name_register{
        width: 100%;
    }
    .form_register_section{
        width: 80%;
    }
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register{
        width: 60%;
    }
}
@media screen and (max-width:558px){
    .Name_register{
        width: 90%;
    }
    .form_register_section{
        width: 80%;
    }
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register{
        width: 60%;
    }
    
}

@media screen and (max-width:427px){
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register{
        width: 65%;
    }
}

@media screen and (max-width:412px){
    .Pages_register_parent{
        background-image: url('../..//assets/registerPagePhone.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .Name_register{
        width: 90%;
    }
    .form_register_section{
        width: 90%;
    }
  
}
@media screen and (max-width:365px){
    .instagem_registration_block,
    .facebook_registration_block,
    .Next_Register{
        width: 85%;
    }
}